/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.table-cell {
	-fx-font-size: 18px;
}

.text-center {
	-fx-alignment: center;
	-fx-text-fill: blue;
}